<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @merchant.name %>
</p>

<%= link_to 'Items', merchant_items_path(@merchant) %>
<%= link_to 'Invoices', merchant_invoice_path(@merchant) %>

<br>
<br>
